.titulo{
    font-size: 2rem;
    color: orange;
    margin-bottom: 40px;
    text-align: center;
}

.noteList{
    list-style: none;
    padding: 20px;
    margin: 0;
}

.noteItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 1.3em;
}

.iconsContainer{
    display: flex;
    align-items: center;
}